body {
    background-color: salmon;
}
// assets/css/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$theme-colors: (
        "primary": #0074d9,
        "danger": #ff4136
);
